* text=auto

# Strip output & provide clean diff for Jupyter notebooks
*.ipynb filter="\"/usr/local/bin/python\" -m nbstripout --filter" diff="\"/usr/local/bin/python\" -m nbstripout --diff"
*.zpln filter=nbstripout
